* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Museo Sans Cyrl", Arial, sans-serif;
}

div {
    display: inline-block;
    width: 900px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -450px;
    /*background: red;*/
}

h1 {
    font-size: 100px;
}